<h1>Interface#index</h1>
<p>Find me in app/views/interface/index.html.erb</p>
<p>This is the home screen! It will eventually contain links to the login screen or sign up screen. From there, it will redirect to load the game.</p>
